<div class="toolbar"
     [@slideContent]="animationState"
     (@slideContent.start)="onAnimationStart($event)"
     (@slideContent.done)="onAnimationDone($event)">
    <div>{{ fileName }}</div>
    <div fxFlex></div>
    <div style="margin-top: 8px;">
        <a download="{{fileName}}" href="{{fileUri}}">
            <mat-icon>get_app</mat-icon>
        </a>
        &nbsp;&nbsp;
        <a (click)="closePreview()">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>
<div 
     [@slideContent]="animationState"
     (@slideContent.start)="onAnimationStart($event)"
     (@slideContent.done)="onAnimationDone($event)">
    <pdf-viewer 
        [src]="fileUri" 
        [render-text]="true" 
        [external-link-target]="'_blank'"
        [original-size]="false"
        [autoresize]="true"
        [show-borders]="true"
        style="display: block;max-width: 650px;"
        [@fade]="loading ? 'fadeOut' : 'fadeIn'"
        (page-rendered)="onLoad($event)">
    </pdf-viewer>
</div>

