<div class="side-link-bar" fxLayout.sm="row" fxLayout.md="column" fxLayout.lg="column" fxLayout.xl="column" fxLayoutAlign="space-around stretch">
  <button class="find-me-icon" mat-fab matTooltip="Twitter" [matTooltipPosition]="'below'" (click)="open('twitter')">
    <mdb-icon fab icon="twitter" size="2x"></mdb-icon>
  </button>
  <button class="find-me-icon" mat-fab matTooltip="Linkedin" [matTooltipPosition]="'below'" (click)="open('linkedin')">
    <mdb-icon fab icon="linkedin-in" size="2x"></mdb-icon>
  </button>
  <button class="find-me-icon" mat-fab matTooltip="Github" [matTooltipPosition]="'below'" (click)="open('github')">
    <mdb-icon fab icon="github" size="2x"></mdb-icon>
  </button>
  <button class="find-me-icon" mat-fab matTooltip="Instagram" [matTooltipPosition]="'below'" (click)="open('instagram')">
    <mdb-icon fab icon="instagram" size="2x"></mdb-icon>
  </button>
  <button class="find-me-icon" mat-fab matTooltip="Resume" [matTooltipPosition]="'below'" (click)="open('resume')">
    <mdb-icon fas icon="file" size="2x"></mdb-icon>
  </button>
</div>
