<div class="side-link-bar" fxLayout="column"  fxLayoutAlign="space-around stretch">
  <button class="test-icon" mat-mini-fab></button>
  <button class="test-icon" mat-mini-fab></button>
  <button class="test-icon" mat-mini-fab></button>
  <button class="test-icon" mat-mini-fab></button>
</div>
<!-- <mdb-icon fas icon="camera-retro"></mdb-icon> -->

<!-- <div fxLayout="column" class="find-block">
  <div>
    <div fxFlex="10"></div>
    <div fxFlex="80">
      <h1>Find Me</h1>
      <div>
        <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'16'">
            <mat-grid-tile [style.background]="'#00acee'">
              <img src="../../assets/img/Twitter_Logo.png" width="25%" height="auto" alt="Twitter Logo">
            </mat-grid-tile>
            <mat-grid-tile [style.background]="'#E1306C'">
              <img src="../../assets/img/Instagram_Logo.png" width="25%" height="auto" alt="Instagram Logo">
            </mat-grid-tile>
            <mat-grid-tile [style.background]="'#f5f5f5'">GitHub</mat-grid-tile>
            <mat-grid-tile [style.background]="'#0e76a8'">Linkedn</mat-grid-tile>
          </mat-grid-list>
      </div>
    </div>
    <div fxFlex="10"></div>
  </div>
</div> -->
