<div fxLayout="column" class="find-block">
  <div>
    <div fxFlex="10"></div>
    <div fxFlex="80">
      <h1>Find Me</h1>
      <div>
        <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'16'">
            <mat-grid-tile [style.background]="'#00acee'">Twitter</mat-grid-tile>
            <mat-grid-tile [style.background]="'#E1306C'">Instagram</mat-grid-tile>
            <mat-grid-tile [style.background]="'#f5f5f5'">GitHub</mat-grid-tile>
            <mat-grid-tile [style.background]="'#0e76a8'">Linkedn</mat-grid-tile>
          </mat-grid-list>
      </div>
    </div>
    <div fxFlex="10"></div>
  </div>
</div>
