<div fxLayout="column" class="contact-block">
  <div>
    <div fxFlex="10"></div>
    <div fxFlex="80" style="margin: 16px 0;">
      <h1>Contact Me</h1>
      <div fxLayout.lt-md="column" fxLayout.gt-sm="row">
        <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="32">
          <mat-label>Name</mat-label>
          <input matInput placeholder="signed," [formControl]="nameControl">
        </mat-form-field>
        <div fxFlex></div>
        <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="64">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="...@snailmail.com" [formControl]="emailAddressControl">
        </mat-form-field>
        <div fxFlex></div>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="90">
          <mat-label>Your Comment</mat-label>
          <textarea matInput #input maxlength="512" rows="8" style="resize: none;" 
          placeholder="this website brings a smile to my face because..." [formControl]="messageAreaControl"></textarea>
          <mat-hint align="end">{{ input.value?.length || 0 }}/512 chars<span class="blinking">|</span></mat-hint>
        </mat-form-field>&nbsp;
        <div matLine class="character-box">
          <button mat-icon-button color="accent" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div fxFlex="10"></div>
  </div>
</div>
