<div>
  <app-header></app-header>
  <div fxFill>
    <app-carousel-portfolio></app-carousel-portfolio>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex.lt-md="100" fxFlex.md="100" fxFlex.gt-md="52">
      <app-home></app-home>
    </div>
    <div fxFlex.lt-md="100" fxFlex.md="100" fxHide.md fxHide.lg fxHide.xl style="align-self: center;">
      <app-find-me></app-find-me>
    </div>
    <div fxFlex></div>
    <div fxFlex.lt-md="100" fxFlex.md="100" fxFlex.gt-md="48" style="align-self: center;">
      <app-contact-me></app-contact-me>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
