.app-store-logo {
  width: 15em;
  height: auto;
  margin-bottom: 16px;
}

.pkmn-ev-logo {
  width: 8em;
  height: auto;
  margin-bottom: 16px;

}

.pkmn-ev-logo:hover {
  -webkit-box-shadow: 0px 0px 13px 5px rgba(78, 49, 255, 0.4);
  box-shadow: 0px 0px 13px 5px rgba(78, 49, 255, 0.4);
}

.project-container {
  margin-bottom: 32px;
}

.mat-icon {
  vertical-align: middle;
}

a {
  color: orangered;
}