<mdb-carousel class="carousel slide carousel-fade" [animation]="'slide'">
  <mdb-carousel-item>
    <div class="image-wrapper" (click)="navigateToProject('RES_EXTENSA')">
      <div class="bkgrd-img"></div>
      <img class="d-block w-100" src="../../assets/img/resExstensa.jpeg" alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Res Extensa</h3>
      <p>A Text Adventure</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="image-wrapper" (click)="navigateToProject('PKMN_EV')">
      <div class="bkgrd-img"></div>
      <img class="d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/3/37/IPhone_11_Pro_Max_Midnight_Green.svg" alt="Second slide">
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">PKMN EV</h3>
      <p>Pokémon Stat Calculator for iOS</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<div class="separator"></div>
