.bkgrd-img {
  background-image: url('../../assets/img/resExstensa.jpeg');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.image-wrapper {
  position: relative;
  height: 50vh;
  width: 100%;
}

.image-wrapper img {
  transition: all .2s ease;
  -webkit-transform: translateY(-50%) translateX(-50%);
  height: auto;
  width: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 16px;
  text-align: center;
}

.separator {
  height: 8px;
  width: 100%;
  background: rgb(33, 33, 33);
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 30%, rgba(102, 102, 102, 0.9) 100%);
}
