<div fxFill>
  <app-carousel-portfolio></app-carousel-portfolio>
</div>
<div>
  <div fxFlex="10"></div>
  <div fxFlex="80">
    <h1 style="display: inline-block">Xavier</h1>&nbsp;&nbsp;
    <h3 style="display: inline-block">Developer. Writer. Dreamer.</h3>
    <p style="margin: 0">
      On an average day, you'll probably find me writing,
      reading, playing video games, surfing the internet,
      or frustrating myself with code.I have a wide variety of interests,
      but those five come out on top. Of course I love to eating and sleep too,
      but those are just (unfortunate) necessities. However, I also love to
      dream about the future. It's crazy stressful though, wanting the future now.
      That's because the present is usually an insufferable combination of unsuccessful
      plans and hindsight. But that's exactly why I'll have to create a future myself.
      One worth living.
    </p>
  </div>
  <div fxFlex="10"></div>
</div>
