:host {
  display: block;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 1em;
  color: #fff;
  background: linear-gradient(180deg, rgba(0, 0, 0, .65) 0, transparent);
  z-index: 1;

  .mat-icon {
    color: white;
  }
}
